.paper-body{
    font-family: 'Roboto', sans-serif;
    margin: 5% 15%;
    color: #3f3f3f;
}

/*#afbd21 is lime green  #0078a0 is that blue*/
h3, h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;

}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  margin: 10px auto 0 auto;
  width: 60%;
}

th {
  padding: 10px 10px;
  background-color: #33ccff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr {
  text-align: center;
  width: 100%;
}

td{
  width:20%;
}

.label {
  text-align:left;
  padding: 10px 10px;
  width:15%;
}

/*for the graph */

.graph svg {
    border: 2px solid black ;
    font-family: 'Roboto', sans-serif;
    margin: 10px 10%;
}


/*tick is probably a class auto filled by d3 when using d3 function to create axis*/
.x-axis .tick {
  fill: black;
  overflow: auto;
  
}

/*text color needs to be fill bc it is svg?*/
.legend{
  fill: black;
  display: inline-block;

}
/*for the table below the graph*/

.units-table{
  background-color: #ccccb3;
  padding: 1px 1px;
}

.table-total{
  font-weight: bold;
}