.graph svg {
    border: 2px solid black ;
    font-family: 'Roboto', sans-serif;
}

.paper-body{
    font-family: 'Roboto', sans-serif;
    margin: 5% 15%;
}

h3, h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;

}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  margin: 10px;
  width: 100%;
}

th {
  padding: 10px 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr {
  text-align: center;
}

td{
  width:25%;
}


.label {
  text-align:right;
  padding: 10px 10px;
}

