.graph svg {
    border: 2px solid black ;
    font-family: 'Roboto', sans-serif;
}

.paper-body{
    font-family: 'Roboto', sans-serif;
}

h3, h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;

}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th {
  padding: 10px 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

